{% extends "adm/base_adm.html" %}


{% block content %}
<main>
    <section class="form-section">
        <h2>Incluir Novo Tipo de Ocorrência</h2>
        <form id="tipoOcorrenciaForm" method="POST" action="/adm/tipo_ocorrencia/salvar_incluir">
            <div class="form-group">
                <label for="nme_tipo_ocorrencia">Nome do Tipo de Ocorrência:</label>
                <input type="text" id="nme_tipo_ocorrencia" name="nme_tipo_ocorrencia" maxlength="50" required>
            </div>
            <div class="form-group">
                <label>Tipo:</label>
                <div class="radio-group">
                    <label for="tpo_elogio">
                        <input type="radio" id="tpo_elogio" name="tpo_tipo_ocorrencia" value="E" required checked> Elogio
                    </label>
                    <label for="tpo_problema">
                        <input type="radio" id="tpo_problema" name="tpo_tipo_ocorrencia" value="P" required> Problema
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="txt_modelo_ocorrencia">Texto Modelo da Ocorrência:</label>
                <textarea id="txt_modelo_ocorrencia" name="txt_modelo_ocorrencia" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <div class="radio-group">
                    <label for="sts_ativo">
                        <input type="radio" id="sts_ativo" name="sts_tipo_ocorrencia" value="A" required checked> Ativo
                    </label>
                    <label for="sts_inativo">
                        <input type="radio" id="sts_inativo" name="sts_tipo_ocorrencia" value="I" required> Inativo
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
        </form>
        <div id="mensagem" class="mensagem-retorno {{ css_msg }}">{{ msg }}</div>
    </section>
</main>
{% endblock %}