{% extends "adm/base_adm.html" %}


{% block content %}
   <main>
       <section class="form-section">
           <h2>Alterar Prestador</h2>
           <form id="preAlterarForm" method="POST" action="/adm/pre/salva_alterar">
               <input type="hidden" name="idt_prestador" value="{{ prestador.idt_prestador }}">
               <div class="form-group">
                   <label for="mat_prestador">Matrícula:</label>
                   <input type="text" id="mat_prestador" name="mat_prestador" maxlength="20" value="{{ prestador.mat_prestador }}">
               </div>
               <div class="form-group">
                   <label for="nme_prestador">Nome do Prestador:</label>
                   <input type="text" id="nme_prestador" name="nme_prestador" maxlength="80" value="{{ prestador.nme_prestador }}" required>
               </div>
               <div class="form-group">
                   <label for="eml_prestador">Email do Prestador:</label>
                   <input type="email" id="eml_prestador" name="eml_prestador" maxlength="80" value="{{ prestador.eml_prestador }}">
               </div>
               <div class="form-group">
                   <label for="tel_prestador">Telefone:</label>
                   <input type="text" id="tel_prestador" name="tel_prestador" maxlength="20" value="{{ prestador.tel_prestador }}">
               </div>
               <div class="form-group">
                   <label for="rml_prestador">Ramal:</label>
                   <input type="text" id="rml_prestador" name="rml_prestador" maxlength="10" value="{{ prestador.rml_prestador }}">
               </div>
               <div class="form-group">
                   <label for="pwd_prestador">Senha (preencha apenas para alterar):</label>
                   <input type="password" id="pwd_prestador" name="pwd_prestador" maxlength="128">
               </div>
               <div class="form-group">
                   <label for="cod_setor">Setor:</label>
                   <select id="cod_setor" name="cod_setor">
                       <option value="">-- Selecione --</option>
                       {% for setor in setores %}
                           <option value="{{ setor.idt_setor }}" {% if prestador.cod_setor == setor.idt_setor %}selected{% endif %}>{{ setor.sgl_setor }} - {{ setor.nme_setor }}</option>
                       {% endfor %}
                   </select>
               </div>
               <div class="form-group">
                   <label>Status:</label>
                   <div class="radio-group">
                       <label for="sts_ativo">
                           <input type="radio" id="sts_ativo" name="sts_prestador" value="A" {% if prestador.sts_prestador == 'A' %}checked{% endif %}> Ativo
                       </label>
                       <label for="sts_inativo">
                           <input type="radio" id="sts_inativo" name="sts_prestador" value="T" {% if prestador.sts_prestador == 'T' %}checked{% endif %}> Inativo
                       </label>
                   </div>
               </div>
               <button type="submit" class="btn btn-primary">Salvar</button>
           </form>
           <div id="mensagem" class="mensagem-retorno {{ css_msg }}">{{ msg }}</div>
       </section>
   </main>
{% endblock %}
