<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Serviços</title>
    <link href="static/estilo.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <a href="/menu_adm" class="card">
        <div class="card-header" style="background-color: #28a745;">Administrador</div>
        <div class="card-body">
            <div class="card-icon">&#x1F934;</div>
            <h2>Área do Administrador</h2>
            <p>Faça a gestão do Central de Serviços.</p>
        </div>
    </a>


    <a href="/menu_pre" class="card">
        <div class="card-header" style="background-color: #007bff;">Prestador de Serviço</div>
        <div class="card-body">
            <div class="card-icon">&#128736;</div>
            <h2>Área do Prestador</h2>
            <p>Gerenciamento e Atendimento de solicitações.</p>
        </div>
    </a>


    <a href="/menu_sol" class="card">
        <div class="card-header" style="background-color: #ffc107;">Solicitante</div>
        <div class="card-body">
            <div class="card-icon">&#128100;</div>
            <h2>Área do Solicitante</h2>
            <p>Abertura e acompanhamento de solicitações.</p>
        </div>
    </a>
</div>


</body>
</html>
