<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Solicitante</title>
    <link href="static/estilo.css" rel="stylesheet">
</head>
<body>


<div class="header">
    <h1>Painel do Solicitante</h1>
    <p>Selecione uma opção.</p>
</div>


<div class="card-grid">
    <a href="/solicitante/abrir_solicitacao" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #ffc107;">&#x1F3AB;</div>
            <h2>Abrir Solicitação</h2>
        </div>
    </a>


    <a href="/solicitante/solicitacoes_ativas" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #ffc107;">&#x1F4C5;</div>
            <h2>Solicitações Ativas</h2>
        </div>
    </a>


    <a href="/solicitante/historico" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #6c757d;">&#128337;</div>
            <h2>Consultar Histórico</h2>
        </div>
    </a>


    <a href="/solicitante/graficos" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #007bff;">&#128202;</div>
            <h2>Gráficos</h2>
        </div>
    </a>
</div>


<div class="return-container">
    <a href="/" class="return-button">Retornar ao Menu Principal</a>
</div>


</body>
</html>
