<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
    <link href="static/estilo.css" rel="stylesheet">
</head>
<body>


<div class="header">
    <h1>Painel do Administrador</h1>
    <p>Selecione uma das opções de Gestão de Tabelas</p>
</div>


<div class="card-grid">
    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#127970;</div>
            <h2>Setores</h2>
        </div>
        <div class="card-options">
            <a href="/adm/setor/incluir" class="option-button">Incluir</a>
            <a href="/adm/setor/consultar" class="option-button">Consultar</a>
            <a href="/adm/setor/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128736;</div>
            <h2>Serviços</h2>
        </div>
        <div class="card-options">
            <a href="/adm/serv/incluir" class="option-button">Incluir</a>
            <a href="/adm/serv/consultar" class="option-button">Consultar</a>
            <a href="/adm/serv/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128100;</div>
            <h2>Empregados</h2>
        </div>
        <div class="card-options">
            <a href="/adm/emp/incluir" class="option-button">Incluir</a>
            <a href="/adm/emp/consultar" class="option-button">Consultar</a>
            <a href="/adm/emp/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128119;</div>
            <h2>Prestadores</h2>
        </div>
        <div class="card-options">
            <a href="/adm/pre/incluir" class="option-button">Incluir</a>
            <a href="/adm/pre/consultar" class="option-button">Consultar</a>
            <a href="/adm/pre/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#127963;</div>
            <h2>Locais</h2>
        </div>
        <div class="card-options">
            <a href="/adm/local/incluir" class="option-button">Incluir</a>
            <a href="/adm/local/consultar" class="option-button">Consultar</a>
            <a href="/adm/local/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>


    <div class="card">
        <div class="card-content">
            <div class="card-icon">&#128220;</div>
            <h2>Tipo Ocorrência</h2>
        </div>
        <div class="card-options">
            <a href="/adm/tipo_ocorrencia/incluir" class="option-button">Incluir</a>
            <a href="/adm/tipo_ocorrencia/consultar" class="option-button">Consultar</a>
            <a href="/adm/tipo_ocorrencia/atualizar" class="option-button">Atualizar</a>
        </div>
    </div>
</div>


<div class="return-container">
    <a href="/" class="return-button">Retornar ao Menu Principal</a>
</div>


</body>
</html>
