<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Prestador</title>
    <link href="static/estilo.css" rel="stylesheet">
</head>
<body>


<div class="header">
    <h1>Painel do Prestador de Serviço</h1>
    <p>Selecione uma opção.</p>
</div>


<div class="card-grid">
    <a href="/prestador/os_abertas" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #ffc107;">&#128220;</div>
            <h2>Ordens de Serviço Abertas</h2>
        </div>
    </a>


    <a href="/prestador/minhas_os" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #007bff;">&#128214;</div>
            <h2>Minhas Ordens de Serviço</h2>
        </div>
    </a>


    <a href="/prestador/desempenho" class="card">
        <div class="card-content">
            <div class="card-icon" style="color: #28a745;">&#128200;</div>
            <h2>Meu Desempenho</h2>
        </div>
    </a>
</div>
<div class="return-container">
    <a href="/" class="return-button">Retornar ao Menu Principal</a>
</div>
</body>
</html>
