<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Contato</title>
    <link rel="stylesheet" href="estilo_form.css">
</head>
<body>
<div class="container">
    <h1>Entre em Contato</h1>


    <form onsubmit="mostrar(event)" method="post" enctype="text/plain">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" required>


        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>

        <label for="tipo">Tipo de mensagem:</label>
        <select id="tipo" name="tipo" required>
            <option value="option1">Atendimento</option>
            <option value="option2">Dúvida</option>
            <option value="option3">Reclamação</option>
            <option value="option4">Elogio</option>
        </select>


        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" rows="5" required></textarea>


        <button type="submit">Enviar Mensagem</button>
    </form>
</div>
</body>
</html>


<script>
    function mostrar(event) {
        // Evita que o formulário seja enviado (recarregue a página)
        event.preventDefault();


        // Recuperar dados do formulário
        var nome = document.getElementById("nome").value;
        var email = document.getElementById("email").value;
        var tipo = document.getElementById("tipo").value;
        var mensagem = document.getElementById("mensagem").value;


        // Criar uma string de saída com todos os dados
        // A sintaxe `${...}` insere o valor da variável na string
        var saida = `Nome: ${nome}\n\nE-mail: ${email}\n\nTipo: ${tipo}\n\nMensagem: ${mensagem}`;


        // Exibir os dados que foram digitados
        alert(saida);
    }
</script>
