{% extends "adm/base_adm.html" %}


{% block content %}
   <main>
       <section class="form-section">
           <h2>Incluir Novo Serviço</h2>
           <form id="servicoForm" method="POST" action="/adm/serv/salvar_incluir">
               <div class="form-group">
                   <label for="nme_servico">Nome do Serviço:</label>
                   <input type="text" id="nme_servico" name="nme_servico" maxlength="50" required>
               </div>
               <div class="form-group">
                   <label for="cod_setor">Setor:</label>
                   <select id="cod_setor" name="cod_setor" required>
                       {% for setor in lst_setores %}
                           <option value="{{ setor.idt_setor }}">{{ setor.sgl_setor }}-{{ setor.nme_setor }}</option>
                       {% endfor %}
                   </select>
               </div>
               <div class="form-group">
                   <label for="vlr_servico">Valor do Serviço:</label>
                   <input type="number" id="vlr_servico" name="vlr_servico" step="0.01" min="0" required>
               </div>
               <div class="form-group">
                   <label for="num_dias_servico">Número de Dias:</label>
                   <input type="number" id="num_dias_servico" name="num_dias_servico" min="1" required>
               </div>
               <div class="form-group">
                   <label for="txt_modelo_servico">Descrição do Serviço:</label>
                   <textarea id="txt_modelo_servico" name="txt_modelo_servico" rows="4" required></textarea>
               </div>
               <div class="form-group">
                   <label>Status:</label>
                   <div class="radio-group">
                       <label for="sts_ativo">
                           <input type="radio" id="sts_ativo" name="sts_servico" value="A" required checked> Ativo
                       </label>
                       <label for="sts_inativo">
                           <input type="radio" id="sts_inativo" name="sts_servico" value="I" required> Inativo
                       </label>
                   </div>
               </div>
               <button type="submit" class="btn btn-primary">Salvar</button>
               <button type="reset" class="btn btn-secondary">Limpar</button>
           </form>
           <div id="mensagem" class="mensagem-retorno {{ css_msg }}">{{ msg }}</div>
       </section>
   </main>
{% endblock %}
